



.top-buffer-020 { margin-top: -20px;}
.top-buffer-010 { margin-top: -10px;}
.top-buffer-10 { margin-top: 10px;}
.top-buffer-15 { margin-top: 15px;}
.top-buffer-20 { margin-top: 20px;}
.top-buffer-30 { margin-top: 30px;}
.top-buffer-40 { margin-top: 40px;}
.top-buffer-50 { margin-top: 50px;}
.top-buffer-60 { margin-top: 60px;}
.top-buffer-70 { margin-top: 70px;}
.top-buffer-80 { margin-top: 80px;}
.top-buffer-90 { margin-top: 90px;}
.top-buffer-100 { margin-top: 100px;}
